%h1 New User

= simple_form_for :user, url: users_path do |f|
	= f.input :name, autofocus: true
	= f.input :password
	= f.input :password_confirmation
	= f.input :avatar, as: :file
	= f.submit 'Create'