%h1 #{@user.name}'s Profile

- if @user.avatar
	= image_tag @user.avatar.url(:large), class: 'avatar-large'

%h2 Edit Profile
#profile-edit-container
	= simple_form_for current_user, url: user_path do |f|
		= f.input :name
		= f.input :avatar, as: :file
		= f.submit "Save"