.post
	- if post.title.present?
		%h2= link_to post.title, post
	.meta
		Posted by
		= render partial: 'shared/user_name', locals: { user: post.user }

		= time_ago_in_words(post.created_at)
		ago

		with
		= link_to pluralize(post.comments.count, "reply"), post

		- if post.user == current_user
			| 
			= link_to "Edit", edit_post_path(post)
			|
			= link_to "Delete", post_path(post), remote: true, method: :delete
	- if post.image.exists?
		= image_tag post.image.url(:medium), class: 'medium'

	- if post.content.present?
		%p= post.content
