= simple_form_for(@post, remote: true) do |f|
	= f.input :title, placeholder: "Title", label: false
	= f.input :content, placeholder: "Content...", label: false
	= f.input :image, as: :file
	= f.submit "Post", data: { disable_with: "Posting..." }