- if current_user
	%h1 New Post
	#new-post-container
		= render partial: 'form'

%h1 All Posts
#posts
	-#= paginate @posts, remote: true
	%nav.post-nav
		.older= link_to_previous_page @posts, '← Newer'
		.newer= link_to_next_page @posts, 'Older →'

	= sync_new partial: 'post_row', resource: Post.new, direction: :prepend
	= sync partial: 'post_row', collection: @posts || "There are no posts yet. Use the form above to make a post."

	%nav.post-nav
		.older= link_to_previous_page @posts, '← Newer'
		.newer= link_to_next_page @posts, 'Older →'
	-#= paginate @posts, remote: true