%h1= @post.title

.pane
	.meta
		Posted by
		= render partial: 'shared/user_name', locals: { user: @post.user }
		= time_ago_in_words(@post.created_at)
		ago

	- if @post.image.exists?
		= image_tag @post.image.url(:medium)
	%p= @post.content

	- if @post.user == current_user
		= link_to "Edit", edit_post_path(@post)
		= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }

	%hr

	.comments
		%h2
			= @post.comments.count
			Replies

		= render @post.comments

	.add-comment
		%h3 Reply
		= render "comments/form"