!!! 5
%html
%head
  %title Fakebook
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

  %header#top-bar
    %nav#nav-primary
      = link_to "Fakebook", root_path, id: "logo"
      #nav-primary-buttons
        - if current_user
          = link_to "New Post", new_post_path, id: "new-post-button"
          -# = link_to "Profile", edit_user_registration_path, id: "profile-button"
          = link_to "Sign Out", signout_path, id: "sign-out-button"
        - else
          = link_to "Sign Up", signup_path, id: "sign-up-button"
          = link_to "Sign In", signin_path, id: "sign-in-button"

  #main
    - if notice || alert
      #flash
        - flash.each do |type, message|
          %p.alert{class: type}= message
    = yield
